In [1]:
import numpy as np
from os.path import join
import pandas as pd
from haversine import haversine_vector

In [2]:
states = ["punjab", "haryana", "bihar", "jharkhand", "madhya_pradesh", "west_bengal", "uttar_pradesh", "himachal_pradesh", "uttarakhand"]
path = "/home/patel_zeel/compass24/exact_latlon/"

master_df = pd.concat([pd.read_csv(join(path, state + ".csv")) for state in states])
master_df.shape

(19579, 18)

In [3]:
master_df.head(2)

,parent,line_id,class,lat,lon,state,x_c,y_c,w,h,top_left_x,top_left_y,bottom_right_x,bottom_right_y,local_top_left_x,local_top_left_y,local_bottom_right_x,local_bottom_right_y
0,"30.79,75.87",0,zigzag,30.788065,75.871358,punjab,2.384894e+07,1.375857e+07,0.115034,0.045408,2.384887e+07,1.375854e+07,2.384900e+07,1.375859e+07,622.157760,744.50432,750.995840,795.36128
1,"30.79,75.87",1,zigzag,30.787651,75.875818,punjab,2.384935e+07,1.375861e+07,0.031660,0.100504,2.384934e+07,1.375856e+07,2.384937e+07,1.375867e+07,1084.514928,758.56144,1119.974352,871.12592

In [4]:
latlons = master_df[["lat", "lon"]].values

distance = haversine_vector(latlons, latlons, comb=True, unit='km')
np.fill_diagonal(distance, np.inf)

In [5]:
print(distance.shape)
distance[:5, :5]

(19579, 19579)

array([[        inf,  0.428482  , 66.06129934, 49.67846371, 52.25104568],
       [ 0.428482  ,         inf, 66.36880094, 50.01048918, 52.66060538],
       [66.06129934, 66.36880094,         inf, 17.1012969 , 61.58327699],
       [49.67846371, 50.01048918, 17.1012969 ,         inf, 48.3145048 ],
       [52.25104568, 52.66060538, 61.58327699, 48.3145048 ,         inf]])

In [6]:
violations = np.any(distance < 1.0, axis=0).sum()

print(f"{violations / distance.shape[0] * 100:.2f}% of the brick kilns are within 1 km of each other")

49.94% of the brick kilns are within 1 km of each other

In [7]:
violations

9777